<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>
    <%= pageTitle %>
  </title>
  <link rel="icon" type="image/ico" href="/assets/img/favicon.ico" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta content="" name="keywords" />
  <meta content="" name="description" />

  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Saira:wght@500;600;700&display=swap" rel="stylesheet" />

  <!-- Icon Font Stylesheet -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
  <link rel="stylesheet" href="assets/css/fontawesome.css">
  <!-- Libraries Stylesheet -->
  <link href="assets/lib/animate/animate.min.css" rel="stylesheet" />
  <link href="assets/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />

  <!-- Customized Bootstrap Stylesheet -->
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" />

  <!-- Template Stylesheet -->
  <link href="assets/css/templatemo-edu-meeting.css" rel="stylesheet" />
</head>

<body>
  <%- include('../partials/topbanner') %>

  <%- include('../partials/header', logoContent) %>

  <div class="container-fluid py-5 my-5">
    <div class="container py-5">
      <div class="row g-5 aboutStyle">
        <div class="col-lg-5 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".3s">
          <div class="h-100 position-relative">
            <img src="assets/images/nav/nav_06.jpeg" class="img-fluid w-75 rounded" alt="" style="margin-bottom: 25%" />
            <div class="position-absolute w-75" style="top: 25%; left: 25%">
              <img src="assets/images/nav/nav_04.jpeg" class="img-fluid w-100 rounded" alt="" />
            </div>
          </div>

        </div>
        <div class="col-lg-7 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".5s">
          <h5 class="text-primary margin">About Us</h5>

          <h2 class="margin">
            <%= aboutTopContent[0].title  %>
          </h2>

          <p style="text-align: justify;" class="newMb">
            <%= aboutTopContent[0].content_one  %>
          </p>
          <p style="text-align: justify;" class="newMb">
            <%= aboutTopContent[0].content_two  %>
          </p>
          <p style="text-align: justify;" class="newMb">
            <%= aboutTopContent[0].content_three  %>
          </p>
          <p style="text-align: justify;" class="newMb">
            <%= aboutTopContent[0].content_four  %>
          </p>
        </div>
      </div>

      <div class="row g-5 aboutStyle">


      </div>
      <div class="col-lg-7 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".5s">
        <!-- <h5 class="text-primary margin">About Us</h5> -->
        <h2 class="margin">
          <%= departmentContent[0].title  %>
        </h2>
        <p style="margin-bottom: 20px;">
          <%= departmentContent[0].summary  %>
        </p>
        <ul style="list-style-type: square; padding-left: 40px; color: #000000; font-size: 14px;">
          <% departmentContent[0].list.forEach(element => { %>
          <li style="margin-bottom: 10px;">&#8226;&nbsp;&nbsp;
            <%= element  %>
          </li>
          <% }) %>
        </ul>
      </div>
    </div>
  </div>
  </div>
  <!-- About End -->

  <!-- Footer Start -->
  <section class="contact-us" id="contact">
    <%- include('../partials/home/contacts.ejs', InfoContent) %>

    <%- include('../partials/footer') %>
  </section>
  <!-- Footer End -->

  <!-- Back to Top -->
  <a href="#" class="btn newBg btn-square rounded-circle back-to-top"><i class="fa fa-arrow-up text-white"></i></a>

  <!-- JavaScript Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>

  <!-- Template Javascript -->
  <script src="js/main.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      var year = new Date().getFullYear();
      document.getElementById("current-year").textContent = year;
    });
  </script>
</body>

</html>