<div class="col-lg-12">
  <div class="page-title">
    <h3>Home Page Services
      <button class="btn btn-outline-primary float-end " type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="fas fa-plus"></i>
        New service</button>
    </h3>
  </div>
  <div class="box box-primary">
    <div class="box-body">
      <table width="100%" class="table table-hover" id="dataTables-services">
        <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th></th>
          </tr>
        </thead>
        <tbody>

          <% serviceContent.forEach((service, index)=> { %>
          <tr>
            <td>
              <%= service.title %>

            </td>
            <td>
              <%= service.description %>
            </td>
            <td class="text-end ">
              <button type="button" data-bs-toggle="modal" data-bs-target="#<%= index+1 %>" class="btn btn-outline-info btn-rounded" type="button"><i class="fas fa-pen"></i></button>
              <a class="btn btn-outline-danger btn-rounded" type="button" data-bs-toggle="modal" data-bs-target="#<%= index+200 %>"><i class="fas fa-trash"></i></a>

              <!-- delete modal -->
              <div class="modal fade" id="<%= index+200%>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-md">
                  <div class="modal-content">
                    <div class="modal-header float-start">
                      <h1 class="modal-title fs-5 " id="staticBackdropLabel">
                        <%= service.title %>
                      </h1>

                    </div>
                    <form action="/delete-service" method="POST" class="modal-body flex-row justify-content-center" id="delete">
                      <input type="hidden" name="_id" value="<%= service._id %>">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-danger">
                        DELETE
                      </button>

                    </form>

                  </div>
                </div>
              </div>

              <!-- end delete modal -->
              <!-- update modal -->
              <div class="modal fade delete" id="<%= index+1%>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="staticBackdropLabel">
                        Update : <%= service.title %>
                      </h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form action="/create-service" method="POST">
                        <input type="hidden" name="_id" value="<%= service._id %>">
                        <div class="mb-3">
                          <label for="title" class="form-label float-start">Title</label>
                          <input type="text" name="title" placeholder="Title" value="<%= service.title %>" class="form-control" required>
                        </div>
                        <div class="mb-3">
                          <label for="description" class="form-label float-start">Description</label>
                          <textarea class="form-control" id="description" rows="3" name="description"><%= service.description %></textarea>

                        </div>
                        <div class="mb-3">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary">
                            <%= (service._id !=='' ) ? 'UPDATE' : 'CREATE' %>
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <script>
              document.getElementById(`${index + 1}`).addEventListener('submit', async (event) => {
                event.preventDefault();
                const formData = new FormData(event.target);
                try {
                  const response = await fetch('/create-service', {
                    method: 'POST',
                    body: formData,
                  });
                  if (response.ok) {
                    event.target.reset();
                    $('#staticBackdrop').modal('hide');
                    location.reload();
                  }
                } catch (error) {
                  console.error('Error submitting the form:', error);
                }
              });
              document.getElementById(`${index + 200}`).addEventListener('submit', async (event) => {
                event.preventDefault();
                const formData = new FormData(event.target);
                try {
                  const response = await fetch('/delete-service', {
                    method: 'POST',
                    body: formData,
                  });
                  if (response.ok) {
                    event.target.reset();
                    $('#staticBackdrop').modal('hide');
                    location.reload();
                    alert('Service deleted successfully')
                  }
                } catch (error) {
                  console.error('Error submitting the form:', error);
                }
              });
            </script>

          </tr>

          <% }); %>

        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Create New Service</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/create-service" method="POST" id="create-service" enctype="multipart/form-data">
          <div class="mb-3">
            <label for="title" class="form-label float-start">Title</label>
            <input type="text" name="title" placeholder="Title" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="icon" class="form-label float-start">Image</label>
            <input type="file" name="icon" placeholder="Upload" value="" class="form-control" required accept="image/*">
          </div>

          <div class="mb-3">
            <label for="description" class="form-label float-start">Description</label>
            <textarea class="form-control" id="description" rows="3" name="description"></textarea>

          </div>
          <div class="mb-3">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">
              CREATE
            </button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

<script>
  document.getElementById('create-service').addEventListener('submit', async (event) => {
    event.preventDefault();
    const formData = new FormData(event.target);
    try {
      const response = await fetch('/create-service', {
        method: 'POST',
        body: formData,
      });
      if (response.ok) {

        event.target.reset();
        $('#staticBackdrop').modal('hide');
        location.reload();
      }
    } catch (error) {
      return
    }
  });
</script>