<div class="col-lg-6">
  <div class="card">
    <div class="card-header">Hero Content</div>
    <div class="card-body">
      <h5 class="card-title">Hero content on the home page
      </h5>
      <form id="hero-content-form" method="post">
        <input type="hidden" name="_id" value="<%= heroContent[0]._id %>">
        <div class="mb-3">
          <label for="title_one" class="form-label">Title one</label>
          <input type="text" name="title_one" placeholder="Title One" value="<%= heroContent[0].title_one %>" class="form-control" required>
        </div>
        <div class="mb-3">
          <label for="title_two" class="form-label">Title two</label>
          <input type="text" name="title_two" placeholder="Title Two" value="<%= heroContent[0].title_two %>" class="form-control" required>
        </div>
        <div class="mb-3">
          <label for="content" class="form-label">Description</label>
          <textarea class="form-control" id="content" rows="6" name="content"><%= heroContent[0].content %></textarea>

        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-primary">
            <%= (heroContent._id !=='' ) ? 'UPDATE' : 'CREATE' %>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  document.getElementById('hero-content-form').addEventListener('submit', async (event) => {
    event.preventDefault();
    const formData = new FormData(event.target);
    try {
      const response = await fetch('/hero-content', {
        method: 'POST',
        body: formData,
      });

      if (response.ok) {
        location.reload();
        alert("Successfully updated")
      }
    } catch (error) {
      console.error('Error submitting the form:', error);
    }
  });
</script>